@font-face {
    font-family: 'Quicksand';
    src: url('../font/Quicksand.ttf');
}

/* General */
.transparent-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-padding: 0;
}

.root {
    -fx-background-color: linear-gradient(to top right, #7f7fd5, #91eae4);
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.container {
    -fx-background-color: #e8ebe6;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
}

/* Translation */
.search-box {
    -fx-background-color: transparent;
}
.search-field {
    -fx-font-family: 'Quicksand-Regular';
    -fx-font-size: 20;
    -fx-text-fill: #000000;
    -fx-border-color: #000000;
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-background-color: #ffffff;
}
.wordlist-box, .definition-box {
    -fx-border-color: #000000;
    -fx-border-width: 2;
    -fx-border-radius: 5;
}
.wordlist-title {
    -fx-font-family: 'Quicksand-Bold';
    -fx-font-size: 20;
    -fx-text-fill: #000000;
}
.wordlist-content {
    -fx-font-family: 'Quicksand-Regular';
    -fx-font-size: 20;
    -fx-text-fill: #000000;
}
.english-word {
    -fx-font-family: 'Quicksand-Bold';
    -fx-font-size: 20;
    -fx-text-fill: #000000;
}
.pronunciation-field, .wordtype-field, .meaning-field, .example-field, .relatedword-field {
    -fx-font-family: 'Quicksand-Regular';
    -fx-font-size: 15;
    -fx-text-fill: #000000;
    -fx-background-color: #ffffff;
}
.suggest-alert {
    -fx-font-family: 'Quicksand-Regular';
    -fx-font-size: 12;
    -fx-text-alignment: center;
    -fx-text-fill: red;
}

/* API */
.sentence-text {
    -fx-font-family: 'Quicksand-Regular';
    -fx-font-size: 30;
    -fx-text-fill: #000000;
}
.language-choice {
    -fx-font-family: 'Quicksand-Bold';
    -fx-font-size: 20;
    -fx-text-fill: #000000;
}
.translate-button {
    -fx-font-family: 'Quicksand-Bold';
    -fx-font-size: 20;
    -fx-text-fill: #000000;
    -fx-border-color: green;
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-background-color: yellow;
}